/*general*
.h1-strong{
   
    background-color: b#b53c87;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
  
}
.active{
    background: #9c1111;
  
}

/*editar header*

.navigation{
    margin: 0px;
    padding: 0px !important;
    border-radius: 0;
}
.navigation .navbar{
 
   border-radius: 0px !important;
   background: #b53c87  !important;
   border: none;
   text-align: center;
}
.navigation .navbar * {
    color: white !important;
    
}
.navigation .navbar a:hover{
    background: #9c1111 !important;
}
