<div class="container">
  <div class="row">
    <div class="col-sm">
    <div class = "navigation col-lg-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">

         <!-- Toolbar -->
          <div class="navbar-header">
          <a href="/" class="navbar-brand">{{title}}</a>
      

      <!----  <div class="alert alert-success" *ngIf="status == 'success'">
          Se han actualizado tus datos correctamente
        </div>

        <div class="alert alert-danger" *ngIf="status == 'error'">
          No se han podido actualizar sus datos correctamente
        </div>
        -->
      </div>
      <!--navbar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gente">gente</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">
                Mi perfil
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mi perfil</a>
                <a class="dropdown-item" href="/mis-datos">Mis datos</a>
                <a class="dropdown-item" href="#">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <!--cargar imagen de ususario-->
          <img src="{{url + 'get-image-user/'+identity.image}}"*ngIf='identity && identity.image'/>
        </li>
         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdow" href="#">
            {{identity.name}} <span class="caret"></span>
           </a>
         </li>
            <!---->
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                Mi perfil
              </a>
            </li>

            <li>
              <a href='/mis-datos'>
                <span class="glyphicon glyphicon-cog"></span>
                Mis datos
              </a>
            </li>

            <li>
              <a class="pointer"(click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                Cerrar sesión
              </a>
            </li>
          
          </ul>
        <!---->
      </ul>
      

    </div>
 </nav>
  </div>
</div>
</div> 

<router-outlet> </router-outlet>

